
.DS_Store
raspberry_pi_python_scripts/__pycache__/carbot.cpython-38.pyc
raspberry_pi_python_scripts/carbot.pyc
.coverage
raspberry_pi_python_scripts/__pycache__/test_carbot.cpython-38.pyc
raspberry_pi_python_scripts/htmlcov/carbot_py.html
raspberry_pi_python_scripts/htmlcov/coverage_html.js
raspberry_pi_python_scripts/htmlcov/index.html
raspberry_pi_python_scripts/htmlcov/jquery.ba-throttle-debounce.min.js
raspberry_pi_python_scripts/htmlcov/jquery.hotkeys.js
raspberry_pi_python_scripts/htmlcov/jquery.isonscreen.js
raspberry_pi_python_scripts/htmlcov/jquery.min.js
raspberry_pi_python_scripts/htmlcov/jquery.tablesorter.min.js
raspberry_pi_python_scripts/htmlcov/keybd_closed.png
raspberry_pi_python_scripts/htmlcov/keybd_open.png
raspberry_pi_python_scripts/htmlcov/status.json
raspberry_pi_python_scripts/htmlcov/style.css
raspberry_pi_python_scripts/htmlcov/test_carbot_py.html
raspberry_pi_python_scripts/test_carbot.pyc
